*{box-sizing: border-box;}
@font-face {
    font-family: 'MOTOGP Display-Bold';
    src: url(.././Font/MotoGPDisplay-Bold.ttf);
}
@font-face {
    font-family: 'MOTOGP Italic' ;
    src: url(.././Font/MotoGPText-Italic.ttf);
}
@font-face {
    font-family: 'MOTOGP Regular' ;
    src: url(.././Font/MotoGPText-Regular.ttf);
}
@font-face {
    font-family: 'MOTOGP Bold';
    src: url(.././Font/MotoGPDisplay-Bold.ttf);
}
html{width: 100%;}
body{margin: auto; background: rgb(184, 6, 35);}
body a{text-decoration: none;}
h1, h2{margin: 0; font-family: 'MOTOGP Bold';}


/*HEADER BARRA*/

.header{position:relative; display: flex; justify-content: space-between;height: 90px; background: black; width: 100%; padding: 0 5px;}

.logo{height: 100%; padding: 10px; text-align: center;} 

.header img{height: 100%;}



.nav{
    display: flex; 
    justify-content: space-around;
    position: relative;
    z-index: 1;
    background: black;
    height: 90px;
    width: 65%
}



/*HEADER TENDINA*/

.tendina{
    color: rgb(171,24,59); 
    font-size: 25px; 
    width: 20%;
    text-align: center;
    font-family: "MOTOGP Display-Bold";
    height: 90px;
    position:relative;
    z-index: 1;
}

.tendina__menu{height: 100%; line-height: 90px;}
.tendina:hover .tendina__menu{color: rgb(238, 48, 48); background: rgb(12, 12, 12);}
.tendina__menu {text-decoration: none; color: rgb(171,24,59); padding: 0 10px;}

.tendina__dropdown{height: 135px; background: black;  display: none; padding-bottom: 5px ; }

.tendina:hover .tendina__dropdown{display:block; background: rgb(12, 12, 12); animation: animation-dropdown 0.3s ease-in-out}
@keyframes animation-dropdown{from{ opacity: 0; transform: translateY(-10px);} to {opacity: 1; transform: translateY(0px);}}

.tendina__dropdown a {color: white;}

.dropdown__content{height: 45px; line-height: 45px; font-size: 18px;}
.dropdown__content:hover {color: rgb(238, 48, 48);}

.icon-bar{display: block; padding: 28.5px 20px; display :none;} 
.icon-bar span{ display: block; height: 5px; width: 35px;background: white; margin-bottom: 6px;}
.icon-bar :hover span{ background:rgb(238, 48, 48);}



/*MAIN CENTRALE*/

.contenitore-main{  
    position :relative;
    z-index: 0;  
    background: rgb(23,28,33); 
    width: 85%; 
    margin: 0 auto; 
    border-left:  4px solid black; 
    border-right:  4px solid black;   
    color:white
    }


.contenitore-main h1{font-size: 60px; font-family: 'MOTOGP Bold'; margin: 0;}
.contenitore-main p{font-family: 'MOTOGP Regular';}



/*TITOLO*/

.contenitore-titolo{width: 100%;height: 285px; position :relative; border-bottom: 5px solid  rgb(184, 6, 35);} 

.contenitore-titolo__sfondo img{width :100%; height: 280px; object-fit: cover; display: block;}  
.contenitore-titolo__testo{
    color: rgb(184, 6, 35);
    width:100%;position: absolute;
    
    bottom: 0px; 
    text-align: center; 
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); 
    padding-top: 160px;
    padding-bottom: 10px;
}



/*INDICE*/
.indice{width: 60%; height: 110px; margin: 0 auto; padding:20px;}
.indice h2{font-family: 'MOTOGP Bold';}
.indice a{display: inline-block; width:20%; margin: 0 auto; color: white;}
.indice__up{width: 100%; text-align: center; height: 40px; font-size: 20px; line-height: 30px;}
.indice__down{width: 100%; height: 30px; display: flex;  font-size: 17px; line-height: 30px;}
.indice__down__content{width: 100%; text-align: center; background:  rgb(184, 6, 35) ; border-radius: 5px; border: 1px solid white; font-family: 'MOTOGP Regular'; transition: all 0.2s ease-in-out;}
.indice__down__content:hover {background: rgb(238, 48, 48); transform: scale(1.05);}




/*STYLE RISULTATI*/
/*STYLE RISULTATI*/

#contenitore-main{  
    position :relative;
    z-index: 0;
    display: flex;  
    flex-wrap: wrap;
    background: white; 
    width: 97%; 
    margin: 0 auto; 
    border-left:  4px solid black; 
    border-right:  4px solid black;   
}

.anno{left: 200px;}
.anno__content-down{display:none; border-top: 1px solid white ;}
.is-open-5{display: block;  animation: animation-dropdown 0.4s ease-in-out;}

.tabella-ris{width: 100%; margin: 0 auto; width: 100%; margin-top: 150px;}

.tabella-ris table{width: 100%; padding: 5px;}

.tabella-ris tr,
th,
td{border: 1px solid black; padding: 2px; text-align: center; border-collapse: collapse;}

#tabella__prima-riga{font-family: 'MOTOGP Display-Bold'; font-size: 19px;}
.tabella-ris tr{height: 25px; font-family: 'MOTOGP Regular';}

.tabella__cella-pilota{width: 15%;}
.tabella__cella-pos{width: 3%;}
.tabella__cella-pti{width: 4%;}
.tabella__cella-circuiti{width: auto;}

.tabella__cella-circuiti img{height: auto; width: 90%;}

.contenitore-circuiti{width: 100%; height: 100%; padding-top: 20px;}



/*SYLE CIRCUITI*/  

.contenitore-circuiti{width: 100%; height: 100%; background-color: white; padding-top: 20px;}

.tracciato{width: 90%; height: auto; text-align: center; display: flex; align-items: center; margin: 0 auto; margin-bottom: 20px; border-radius: 5px; border: 5px solid black;}
.tracciato h1{font-size: 30px; width: 100%;}
.tracciato p{width: 100%; font-size: 20px; margin: 0;}
.tracciato__img-tracciato{width: 55%; height: 100%; text-align: center; padding: 10px; border-right: 5px solid black;}
.tracciato__img-tracciato img{width: 100%; height: auto; display: block;}
.tracciato__info-tracciato{width: 45%; height: 100%; display: flex; flex-wrap: wrap; text-align: center; padding: 10px;}




.tracciato{
    width: 90%; 
    height: auto; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    margin: 0 auto; 
    margin-bottom: 20px; 
    border-radius: 5px; 
    border: 5px solid rgb(166, 0, 0);
    background: rgb(205, 196, 196)
}
.tracciato h1{font-size: 30px; width: 100%; color: rgb(23,28,33);}
.tracciato p{width: 100%; font-size: 20px; margin: 0; color: rgb(23,28,33);}
.tracciato__img-tracciato{width: 55%; height: 100%; text-align: center; padding: 10px; border-right: 5px solid black; background: rgb(233,233,233);}
.tracciato__img-tracciato img{width: 100%; height: auto; display: block;}
.tracciato__info-tracciato{
    width: 45%; 
    height: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    text-align: center; 
    padding: 10px;
}










/*STYLE RISULTATI*/

#contenitore-main{  
    position :relative;
    z-index: 0;
    display: flex;  
    flex-wrap: wrap;
    background: rgb(23,28,33); 
    width: 97%; 
    margin: 0 auto; 
    border-left:  4px solid black; 
    border-right:  4px solid black;   
}

.anno{left: 200px;}

.tabella-ris{
    width: 90%; 
    margin: 0 auto; 
    margin-top: 75px; 
    margin-bottom: 50px; 
    display: flex; 
    justify-content: center; 
    border: 10px solid white; 
    border-radius: 5px;
    overflow: auto;
}

.tabella-ris table{width: 100%; padding: 5px; display: inline-block;}

.tabella-ris tr,
th,
td{border: 1px solid white; padding: 2px; text-align: center; border-collapse: collapse; color: white;} 

#tabella__prima-riga{font-family: 'MOTOGP Display-Bold'; font-size: 19px;}
.tabella-ris tr{height: 25px; font-family: 'MOTOGP Regular';}

.tabella__cella-pilota{width: 15%;}
.tabella__cella-pos{width: 3%;}
.tabella__cella-pti{width: 4%;}
.tabella__cella-circuiti{width: auto;}

.tabella__cella-circuiti img{height: auto; width: 90%;}



/*SYLE CIRCUITI*/  

.contenitore-circuiti{width: 100%; height: 100%; padding-top: 20px;}

.tracciato{
    width: 90%; 
    height: auto; 
    text-align: center; 
    display: flex; 
    align-items: center; 
    margin: 0 auto; 
    margin-bottom: 20px; 
    border-radius: 5px; 
    border: 5px solid rgb(166, 0, 0);
    background: rgb(205, 196, 196)
}
.tracciato h1{font-size: 30px; width: 100%; color: rgb(23,28,33);}
.tracciato p{width: 100%; font-size: 20px; margin: 0; color: rgb(23,28,33);}
.tracciato__img-tracciato{width: 55%; height: 100%; text-align: center; padding: 10px; border-right: 5px solid black; background: rgb(233,233,233);}
.tracciato__img-tracciato img{width: 100%; height: auto; display: block;}
.tracciato__info-tracciato{
    width: 45%; 
    height: 100%; 
    display: flex; 
    flex-wrap: wrap; 
    text-align: center; 
    padding: 10px;
}


/*STYLE PILOTI*/

.button a {color: white;}
.button {z-index: 1;background-color: rgb(184, 6, 35); width: 150px; height: auto; border-radius: 5px; border: 2px solid white;position:absolute; top:20px;  }
.categoria, .piloti-categorie{left:20px}
.button__content { text-align: center;line-height: 30px;height: 40px; width: 100%; text-align: center; font-size: 18px; font-family: 'MOTOGP Italic'; padding: 5px;}
.categoria__content-down {display: none; border-top: 1px solid white ;}
.is-open-2{display: block; animation: animation-dropdown 0.4s ease-in-out;}



.contenitore-piloti{padding-top: 50px; display: flex;flex-wrap: wrap; justify-content: space-around;}
.pilota{background: rgb(233,233,233);width: 48%; display: flex; position:relative; align-items: center; margin-top :30px;  border-radius: 10px;} 
.pilota h1{font-size: 30px;}
.pilota p{font-family: 'MOTOGP Regular'; margin : 5px 0; font-size: 18px;}

.pilota__foto{width: 45%; padding: 5px;  }
.pilota__foto img{width: 100%; height: auto; display: block;}

.pilota__num-img{ position: absolute; left: 15px; bottom: 15px;  align-items: center; width: 18%;}
.pilota__numero{ width:80%; margin: 0 auto;}
.pilota__numero img{width:100%; height: auto;}
.pilota__bandiera{margin: 0 auto;width: 55%; height: 50%; text-align: center;}
.pilota__bandiera img{width: 100%; display: inline-block; }

.pilota__info{width: 55%; padding: 10px; text-align: center; color: rgb(23,28,33);}



/*PILOTI MOTOGP*/

.RHT-gp{border: 10px solid rgb(226,78,35)}
.RHT-gp .pilota__foto{
    border-right: 5px solid rgb(226,78,35); 
    background: rgb(226,78,35);
    background: linear-gradient(0deg, rgba(226,78,35,0.8548669467787114) 45%, rgba(255,255,255,0.3114495798319328) 100%);
}

.DLT-gp{border: 10px solid rgb(129,10,22)}
.DLT-gp .pilota__foto{
    border-right: 5px solid rgb(129,10,22);
    background: rgb(129,10,22);
    background: linear-gradient(0deg, rgba(129,10,22,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);

}

.MEY-gp{border: 10px solid rgb(0,20,81)}
.MEY-gp .pilota__foto{
    border-right: 5px solid rgb(0,20,81);
    background: rgb(0,20,81);
    background: linear-gradient(0deg, rgba(0,20,81,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);
}

.RBK-gp{border: 10px solid rgb(254,88,62)}
.RBK-gp .pilota__foto{
    border-right: 5px solid rgb(254,88,62);
    background: rgb(254,88,62);
    background: linear-gradient(0deg, rgba(254,88,62,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);
}

.APR-gp{border: 10px solid rgb(196,36,35)}
.APR-gp .pilota__foto{
    border-right: 5px solid rgb(196,36,35);
    background: rgb(196,36,35);
    background: linear-gradient(0deg, rgba(196,36,35,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);

}

.PPR-gp{border: 10px solid rgb(86,55,130)}
.PPR-gp .pilota__foto{
    border-right: 5px solid rgb(86,55,130);
    background: rgb(86,55,130);
    background: linear-gradient(0deg, rgba(86,55,130,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);
}

.GAS-gp{border: 10px solid rgb(128,5,18)}
.GAS-gp .pilota__foto{
    border-right: 5px solid rgb(128,5,18);
    background: rgb(128,5,18);
    background: linear-gradient(0deg, rgba(128,5,18,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);
}

.LCR-gp{border: 10px solid rgb(1,49,120)}
.LCR-gp .pilota__foto{
    border-right: 5px solid rgb(1,49,120);
    background: rgb(1,49,120);
    background: linear-gradient(0deg, rgba(1,49,120,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);

}

.MVR-gp{border: 10px solid rgb(222,161,12)}
.MVR-gp .pilota__foto{
    border-right: 5px solid rgb(223,234,);
    background: rgb(223,161,12);
    background: linear-gradient(0deg, rgba(223,161,12,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);
}

.GRM-gp{border: 10px solid rgb(131,151,191)}
.GRM-gp .pilota__foto{
    border-right: 5px solid rgb(131,151,191);
    background: rgb(131,151,191);
    background: linear-gradient(0deg, rgba(131,151,191,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%);
}

.RNF-gp{border: 10px solid rgb(112,112,110)}
.RNF-gp .pilota__foto{
    border-right: 5px solid rgb(112,112,110);
    background: rgb(112,112,110);
    background: linear-gradient(0deg, rgba(112,112,110,0.85) 45%, rgba(255,255,255,0.3114495798319328) 100%); 
}



/*PILOTI MOTO2*/

.CAA-2{border: 10px solid rgb(22,42,158)}
.CAA-2 .pilota__foto{
    border-right: 5px solid rgb(22,42,158);
    background: rgb(22,42,158);
    background: linear-gradient(0deg, rgba(22,42,158,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

.VDS-2{border: 10px solid rgb(100,43,50)}
.VDS-2 .pilota__foto{
    border-right: 5px solid rgb(100,43,50);
    background: rgb(100,43,50);
    background: linear-gradient(0deg, rgba(100,43,50,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


.CAG-2{border: 10px solid rgb(241,124,53)}
.CAG-2 .pilota__foto{
    border-right: 5px solid rgb(241,124,53);
    background: rgb(241,124,53);
    background: linear-gradient(0deg, rgba(241,124,53,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

.FOR-2{border: 10px solid rgb(21,52,85)}
.FOR-2 .pilota__foto{
    border-right: 5px solid rgb(21,52,85);
    background: rgb(21,52,85);
    background: linear-gradient(0deg, rgba(21,52,85,0.85) 45%, rgba(255,255,255,0.01) 100%);}


.GAS-2{border: 10px solid rgb(157,28,34)}
.GAS-2 .pilota__foto{
    border-right: 5px solid rgb(157,28,34);
    background: rgb(157,28,34);
    background: linear-gradient(0deg, rgba(157,28,34,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


.HTA-2{border: 10px solid rgb(236,51,62)}
.HTA-2 .pilota__foto{
    border-right: 5px solid rgb(236,51,62);
    background: rgb(236,51,62);
    background: linear-gradient(0deg, rgba(236,51,62,0.85) 45%, rgba(255,255,255,0.01) 100%);  
}


#vietti{border: 10px solid rgb(239,181,5)}
#vietti .pilota__foto{
    border-right: 5px solid rgb(239,181,5);
    background: rgb(239,181,5);
    background: linear-gradient(0deg, rgba(239,181,5,0.85) 45%, rgba(255,255,255,0.01) 100%); 
}

#gomez{border: 10px solid rgb(45,80,161)}
#gomez .pilota__foto{
    border-right: 5px solid rgb(45,80,161);
    background: rgb(45,80,161);
    background: linear-gradient(0deg, rgba(45,80,161,0.85) 45%, rgba(255,255,255,0.01) 100%); 
}


#escrig{border: 10px solid rgb(139,180,85)}
#escrig .pilota__foto{
    border-right: 5px solid rgb(139,180,85);
    background: rgb(139,180,85);
    background: linear-gradient(0deg, rgba(139,180,85,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#ramirez{border: 10px solid rgb(0,51,133)}
#ramirez .pilota__foto{
    border-right: 5px solid rgb(0,51,133);
    background: rgb(0,51,133);
    background: linear-gradient(0deg, rgba(0,51,133,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#roberts{border: 10px solid rgb(11,131,195)}
#roberts .pilota__foto{
    border-right: 5px solid rgb(11,131,195);
    background: rgb(11,131,195);
    background: linear-gradient(0deg, rgba(11,131,195,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#foggia{border: 10px solid rgb(147,199,193)}
#foggia .pilota__foto{
    border-right: 5px solid rgb(147,199,193);
    background: rgb(147,199,193);
    background: linear-gradient(0deg, rgba(147,199,193,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#tulovic{border: 10px solid rgb(121,35,33)}
#tulovic .pilota__foto{
    border-right: 5px solid rgb(121,35,33);
    background: rgb(121,35,33);
    background: linear-gradient(0deg, rgba(121,35,33,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#binder{border: 10px solid rgb(185,109,46)}
#binder .pilota__foto{
    border-right: 5px solid rgb(185,109,46);
    background: rgb(185,109,46);
    background: linear-gradient(0deg, rgba(185,109,46,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#porta{border: 10px solid rgb(234,235,30)}
#porta .pilota__foto{
    border-right: 5px solid rgb(234,235,30);
    background: rgb(234,235,30);
    background: linear-gradient(0deg, rgba(234,235,30,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#bendsneyder{border: 10px solid rgb(43,99,160)}
#bendsneyder .pilota__foto{
    border-right: 5px solid rgb(43,99,160);
    background: rgb(43,99,160);
    background: linear-gradient(0deg, rgba(43,99,160,0.85) 45%, rgba(255,255,255,0.01) 100%);
}



#garcia{border: 10px solid rgb(191,53,53)}
#garcia .pilota__foto{
    border-right: 5px solid rgb(191,53,53);
    background: rgb(191,53,53);
    background: linear-gradient(0deg, rgba(191,53,53,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#canet{border: 10px solid rgb(250,140,60)}
#canet .pilota__foto{
    border-right: 5px solid rgb(250,140,60);
    background: rgb(250,140,60);
    background: linear-gradient(0deg, rgba(250,140,60,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#salac{border: 10px solid rgb(115,141,169)}
#salac .pilota__foto{
    border-right: 5px solid rgb(115,141,169);
    background: rgb(115,141,169);
    background: linear-gradient(0deg, rgba(115,141,169,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#alcoba{border: 10px solid rgb(170,170,169)}
#alcoba .pilota__foto{
    border-right: 5px solid rgb(170,170,169);
    background: rgb(170,170,169);
    background: linear-gradient(0deg, rgba(170,170,169,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#nozane{border: 10px solid black}
#nozane .pilota__foto{
    border-right: 5px solid black;
    background: rgb(170,170,169);
    background: linear-gradient(0deg, rgba(170,170,169,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#gonzalez{border: 10px solid rgb(0,49,132)}
#gonzalez .pilota__foto{
    border-right: 5px solid rgb(0,49,132);
    background: rgb(0,49,132);
    background: linear-gradient(0deg, rgba(0,49,132,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#acosta{border: 10px solid rgb(254,143,55)}
#acosta .pilota__foto{
    border-right: 5px solid rgb(254,143,55);
    background: rgb(254,143,55);
    background: linear-gradient(0deg, rgba(254,143,55,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#arenas{border: 10px solid rgb(206,32,40)}
#arenas .pilota__foto{
    border-right: 5px solid rgb(206,32,40);
    background: rgb(206,32,40);
    background: linear-gradient(0deg, rgba(206,32,40,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


/*PILOTI MOTO3*/


.MTA-3{border: 10px solid rgb(171,28,39)}
.MTA-3 .pilota__foto{
    border-right: 5px solid rgb(171,28,39);
    background: rgb(171,28,39);
    background: linear-gradient(0deg, rgba(171,28,39,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


.MTA-3{border: 10px solid rgb(171,28,39)}
.MTA-3 .pilota__foto{
    border-right: 5px solid rgb(171,28,39);
    background: rgb(171,28,39);
    background: linear-gradient(0deg, rgba(171,28,39,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


.VRT-3{border: 10px solid rgb(64,113,168)}
.VRT-3 .pilota__foto{
    border-right: 5px solid rgb(64,113,168);
    background: rgb(64,113,168);
    background: linear-gradient(0deg, rgba(64,113,168,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

.BOE-3{border: 10px solid rgb(247,87,137)}
.BOE-3 .pilota__foto{
    border-right: 5px solid rgb(247,87,137);
    background: rgb(247,87,137);
    background: linear-gradient(0deg, rgba(247,87,137,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

.HTA-3{border: 10px solid rgb(242,63,63)}
.HTA-3 .pilota__foto{
    border-right: 5px solid rgb(242,63,63);
    background: rgb(242,63,63);
    background: linear-gradient(0deg, rgba(242,63,63,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

.MTH-3{border: 10px solid rgb(10,166,204)}
.MTH-3 .pilota__foto{
    border-right: 5px solid rgb(10,166,204);
    background: rgb(10,166,204);
    background: linear-gradient(0deg, rgba(10,166,204,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#fellon{border: 10px solid rgb(133,8,27)}
#fellon .pilota__foto{
    border-right: 5px solid rgb(133,8,27);
    background: rgb(133,8,27);
    background: linear-gradient(0deg, rgba(133,8,27,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#salvador{border: 10px solid rgb(216,234,1)}
#salvador .pilota__foto{
    border-right: 5px solid rgb(216,234,1);
    background: rgb(216,234,1);
    background: linear-gradient(0deg, rgba(216,234,1, 0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#yamanaka{border: 10px solid rgb(53,90,129)}
#yamanaka .pilota__foto{
    border-right: 5px solid rgb(53,90,129);
    background: rgb(53,90,129);
    background: linear-gradient(0deg, rgba(53,90,129, 0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#alonso{border: 10px solid rgb(204,21,27)}
#alonso .pilota__foto{
    border-right: 5px solid rgb(204,21,27);
    background: rgb(204,21,27);
    background: linear-gradient(0deg, rgba(204,21,27,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#masia{border: 10px solid rgb(227,134,67)}
#masia .pilota__foto{
    border-right: 5px solid rgb(227,134,67);
    background: rgb(227,134,67);
    background: linear-gradient(0deg, rgba(227,134,67,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#suzuki{border: 10px solid rgb(122,174,169)}
#suzuki .pilota__foto{
    border-right: 5px solid rgb(122,174,169);
    background: rgb(122,174,169);
    background: linear-gradient(0deg, rgba(122,174,169,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#sasaki{border: 10px solid rgb(219,77,59)}
#sasaki .pilota__foto{
    border-right: 5px solid rgb(219,77,59);
    background: rgb(219,77,59);
    background: linear-gradient(0deg, rgba(219,77,59,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#veijer{border: 10px solid black}
#veijer .pilota__foto{
    border-right: 5px solid black;
    background: rgb(170,170,169);
    background: linear-gradient(0deg, rgba(170,170,169,0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#oncu{border: 10px solid rgb(217,99,46)}
#oncu .pilota__foto{
    border-right: 5px solid rgb(217,99,46);
    background: rgb(217,99,46);
    background: linear-gradient(0deg, rgba(217,99,46,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#rueda{border: 10px solid rgb(11,119,207)}
#rueda .pilota__foto{
    border-right: 5px solid rgb(11,119,207);
    background: rgb(11,119,207);
    background: linear-gradient(0deg, rgba(11,119,207,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#farioli{border: 10px solid rgb(240,45,57)}
#farioli .pilota__foto{
    border-right: 5px solid rgb(240,45,57);
    background: rgb(240,45,57);
    background: linear-gradient(0deg, rgba(240,45,57,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#holgado{border: 10px solid rgb(197,98,43)}
#holgado .pilota__foto{
    border-right: 5px solid rgb(197,98,43);
    background: rgb(197,98,43);
    background: linear-gradient(0deg, rgba(197,98,43,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#bertelle{border: 10px solid rgb(141,14,30)}
#bertelle .pilota__foto{
    border-right: 5px solid rgb(141,14,30);
    background: rgb(141,14,30);
    background: linear-gradient(0deg, rgba(141,14,30, 0.85) 45%, rgba(255,255,255,0.01) 100%);
}


#fenati{border: 10px solid rgb(40,167,177)}
#fenati .pilota__foto{
    border-right: 5px solid rgb(40,167,177);
    background: rgb(40,167,177);
    background: linear-gradient(0deg, rgba(40,167,177,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#toba{border: 10px solid rgb(123,212,62)}
#toba .pilota__foto{
    border-right: 5px solid rgb(123,212,62);
    background: rgb(123,212,62);
    background: linear-gradient(0deg, rgba(123,212,62,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

#rossi{border: 10px solid rgb(196,31,34)}
#rossi .pilota__foto{
    border-right: 5px solid rgb(196,31,34);
    background: rgb(196,31,34);
    background: linear-gradient(0deg, rgba(196,31,34,0.85) 45%, rgba(255,255,255,0.01) 100%);
}

/*FOOTER*/

.footer{height: 50px; background: black; color: white; line-height: 50px; text-align: center; width:100%;}



/*MEDIA QUERY*/

@media(max-width :1100px){

   
    .tendina{
        width: 25%;
    }

    .tendina__menu{
        padding: 0;
    }

    .pilota{width:30%}
    .pilota__foto {overflow: hidden; width: 100%; height: auto; }
    .RHT-gp .pilota__foto, .DLT-gp .pilota__foto, .MEY-gp .pilota__foto, .RBK-gp .pilota__foto, .APR-gp .pilota__foto, .PPR-gp .pilota__foto, .GAS-gp .pilota__foto,  .LCR-gp .pilota__foto,  .MVR-gp .pilota__foto, .GRM-gp .pilota__foto, .RNF-gp .pilota__foto{border: 0px;}
    .pilota__foto img{ transform: scale(2) translateY(30%); }
    .pilota__num-img{width: 35%; left: 10px; bottom: 20px;}

    .pilota__info{position: absolute; top: 0; width: 100%; padding: 0; text-align: center; align-items: center;display:flex; align-items:center; justify-content:center; flex-wrap: wrap;}
    .pilota__info p{font-size: 17px;  display: none;  }
    
 
    .pilota__info h1{font-size: 25px}
    .pilota:hover .pilota__info p{display: block; align-items: center; border-bottom: 2px solid black; width: 100%;}
    .pilota:hover .pilota__info{ background: rgb(233,233,233);height: 100%; padding: 0 10px 20px 10px; animation: animation-dropdown 0.3s ease-in-out; }
    .pilota:hover .pilota__info h1 {display: none;}
    
    

   

}

@media(max-width :830px){
    
    .nav{flex-direction: column;height: 195px; border-top: 0.5px solid rgb(171,24,59); padding: 5px 0px; width:100%; position:absolute; top : 90px; right:0; left:0; display: none;  }
    .tendina{width:100%; text-align: right;height: 45px;}
    .tendina__menu{height: 45px; line-height: 45px; padding-right: 20px; }
    .tendina:hover .tendina__dropdown{display:none}
    
    
    .is-open-1{display: block; animation: animation-dropdown 0.4s ease-in-out; }
    
    #logo2{display: none;}

    .icon-bar{display: block; }



    .contenitore-main{width: 90%; }
    .contenitore-main h1{font-size: 50px;}
    .contenitore-titolo{height: 245px; } 
    .contenitore-titolo__sfondo img{height: 240px;}  
    .indice a{width: 28%;}
    .indice__down{width: 100%;}

    
    .pilota h1{font-size: 28px;}
    .pilota:hover .pilota__info{padding-top: 3px;padding-bottom: 15px;}
    .pilota p{font-size: 18px;}
    .pilota{width: 40%;}

    
    
}

@media(max-width:590px){

    .contenitore-main{width: 95%;}

    .indice{width: 100%; padding-left: 0px; padding-right:0px ;}
    .indice a{width: 30%;}


    .piloti-categorie {width: auto;  margin: 0 auto; right: 12%; left: 12%; top:20px;}
    .categoria{width:35%; margin: 0 auto; left:12%}
    .anno{width: 35%; right: 12%; left:auto}

    .pilota{align-items: end; padding: 0; width:90%; height: auto;}
    .pilota__foto{width: 100%;height: 100%;}
   
    
    .pilota__num-img{width: 30%;}
    
    .pilota__info h1{font-size: 39px; padding-bottom: 10px;}
    .pilota__info p{font-size: 30px;}
    #giannantonio .pilota__info h1{font-size: 30px;}
    .is-open-3{display: block;}
    

}